<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
    <h2 class="settings-h2">Settings</h2>
    <div class="settings-card">
        <div class="add-a-clinician-card">
            <div class="add-a-clinician-container">
                <div class="settings-div">
                    <h4>
                        Manage Clinical Supervisors in APP:
                    </h4>
                    <label>Existing Emails:</label>
                    <ul id="ul-clinical-supervisor-settings-app">
                    </ul>
                    <br>
                    <div id="div-add-a-clinical-supervisor">
                        <label>Add:</label>
                        <div style="display: inline-block;">
                            <input type="text" class="input-clinical-supervisor-settings-app"
                                id="input-clinical-supervisor-settings-app">
                        </div>
                        <div style="display: inline-block;">
                            <span onclick="addCAToList();">
                                <img class="add-a-CA-button" src="https://img.icons8.com/material-sharp/18/000000/add.png"/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>
</body>
<a href="https://icons8.com/icon/85298/add" hidden>Add icon by Icons8</a>
<a href="https://icons8.com/icon/99971/remove" hidden>Remove icon by Icons8</a>
</html>
